<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/styles.css">
        <script src="/assets/scripts.js"></script>
        <title>Bitcoin Ordinals Minter</title>
        <meta name="description" content="This is a tool for minting Bitcoin Ordinals which are also called the Bitcoin NFTs">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7RDR7G18PW"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-7RDR7G18PW');
        </script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NZ3FZ2M');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <div class="content">
            <h1>Bitcoin Ordinals Minter 🌿</h1>
            Fast, convinient and secure way to mint <a href="http://ordinals.com">Bitcoin Ordinals</a>
            <hr>

            <h2>Let's Mint</h2>
            <form
                id="mint-form"
                method="post"
                enctype="multipart/form-data"
                class="pure-form"
                action="/api/orders"
                onsubmit="return startMinting(event);"
            >
                <div>
                    <label for="metamask-connected"><b>Step 1. Connect MetaMask to pay for minting</b></label>
                    <br>
                    <a class="pure-button" onclick="connectMetaMask()">Connect MetaMask</a>
                    <span id="metamask-connected">Not Connected</span>
                </div>
                <br>

                <div>
                    <label for="file"><b>Step 2. Upload file to be minted</b></label>
                    <br>
                    <div class="upload-btn-wrapper">
                        <a class="pure-button">Upload a file</a>
                        <span id="file-selected"></span>
                        <input
                            required
                            id="file-upload"
                            type="file"
                            name="file"
                            onchange="showFilename()"
                            accept=".apng,.asc,.flac,.gif,.glb,.html,.jpg,.json,.mp3,.mp4,.pdf,.png,.stl,.svg,.txt,.wav,.webm,.webp,.yaml"
                        />
                    </div>
                </div>
                <br>

                <div>
                    <label for="btc-address"><b>Step 3. Enter BTC address to receive your minted file. (This field is optional, you will be able to add wallet later to get your inscription)</b></label>
                    <br>
                    <input id="btc-address" type="text" name="receiver_btc_addres"/>
                </div>
                <br>

                <div>
                    <button class="pure-button pure-button-primary" type="submit">Mint</button> <i>(~25$ per file)</i>
                </div>
            </form>

            Join us on social networks: <a href="https://discord.gg/DcJhtaXd">Discord</a>, <a href="https://twitter.com/BOrdinals">Twitter</a>

            <hr>

            <h2>FAQ</h2>

            <h3>What are Bitcoin Ordinals?</h3>
            <p>
                Bitcoin ordinals are a way of storing NFTs on the Bitcoin blockchain. Bitcoin does not support smart-contracts as Ethereu does, so the developer community had to find a workaround of implementing NFTs on Bitcoin and transfering them from wallet to wallet. A Bitcoin Ordinal is a particular sum of money received from a specific transaction. Each such sum is called "UTXO", which stands for an unspent transaction output. NFTs are attached to such UTXOs and are moved together with them when a given UTXO is spent (moved to another wallet).
            </p>

            <h3>What Is Bitcoin Ordinals Minter?</h3>
            <p>
                This is an online service that provides an easy way to upload your files onto the Bitcoin blockchain using <a href="http://ordinals.com">Bitcoin Ordinals</a>. Your data will be stored on the Bitcoin blockchain forever (as long as Bitcoin network exists).
            </p>

            <h3>What Will I Get?</h3>
            <p>
                You will get your file uploaded into Bitcoin Ordinals and we well send you verified digital asset on your Bitcoin wallet. (Sending asset to your wallet may take longer time, as it will be handled manually)
            </p>

            <h3>How Much Will It Cost?</h3>
            <p>
                We ask ~25$ per file mint (uploading), you will be asked to pay equivalent amount in ETH with you MetaMask wallet.
            </p>

            <h3>Can I use existing Bitcoin Wallet?</h3>
            <p>
                Yes, but it's recomended to create new one to store Bitcoin Ordinals and prevent it from mixing with other blocks.
            </p>

            <h3>Which filetypes are supported?</h3>
            <p>
                Bitcoin Ordinals support the following extensions: .apng, .asc, .flac, .gif, .glb, .html, .jpg, .json, .mp3, .mp4, .pdf, .png, .stl, .svg, .txt, .wav, .webm, .webp, .yaml
            </p>

            <h3>Have troubles or questions?</h3>
            <p>
                Contact us via <a href="mailto:ordinals@oqtacore.com">email</a> or <a href="https://t.me/oqtacore">telegram</a>.
            </p>

            <hr>
            <div class="center">
                <code>(c) <a href="https://oqtacore.com">Oqtacore</a> 2023</code>
            </div>
        </div>
    </body>
</html>
