<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/styles.css">
        <script src="/assets/scripts.js"></script>
        <script>save_current_order();</script>
        <title>Order Page | Ordinals Minter</title>
        <!-- Refresh page to get update on order info -->
        <meta http-equiv="refresh" content="30">
    </head>
    <body>
        <div class="content">
            <h1><a href="/">Ordinals Minter 🌿</a></h1>
            Fast, convinient and secure way to use <a href="http://ordinals.com">Bitcoin Ordinals</a>
            <hr>

            <p>
                <b>
                    Your order is: {{ order_uuid }}
                </b>
            </p>

            {% if order.status == 'CHECKING_PAYMENT' %}
                <p>
                    We received your order and checking payment right now, soon we will start creating inscription. Reload this page in 2-5 minutes.
                </p>
                <p>
                    If yoo see this page longer than 10 minutes, contact us via <a href="mailto:ordinals@oqtacore.com">email</a> or <a href="https://t.me/oqtacore">telegram</a>.
                </p>
                <div class="center">
                    <div class="lds-spinner" height="200px"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            {% elif order.status == 'MINT_STARTED' %}
                <b>All done! Congrats on the great work!</b>
                <p>
                    We received your file and we are inscribing it right now onto the Bitcoin blockchain. It might take from 5 minutes up to several hours as Bitcoin Network can be busy.
                </p>
                <p>
                    Please note that this page will NOT change once your Bitcoin Ordinal is minted (we are not tracking Bitcoin Ordinals as of now).
                </p>
                <b>How to check my inscription?</b>
                <p>
                    1. Your inscription will be ready once this Bitcoin Transaction is mined: <a target="_blank" href="{{order.reveal_tx_url}}">{{order.reveal_tx_url}}</a>
                </p>
                <p>
                    2. When the transaction is mined, your inscription will become available here imemdiately: <a target="_blank" href="{{order.ordinals_url}}">{{order.ordinals_url}}</a>
                </p>
                <p>
                    3. Created ord-compatible wallet and ready to get your inscription? Contact us via <a href="mailto:ordinals@oqtacore.com">email</a> or <a href="https://t.me/oqtacore">telegram</a>.
                </p>

            {% elif order.status == 'MINT_ERROR' %}
                <p>
                    Sadly but there were an error while processing your order, please contact us and we will help you with refund or manual uploading.
                </p>
                <p>
                    Contact us via <a href="mailto:ordinals@oqtacore.com">email</a> or <a href="https://t.me/oqtacore">telegram</a>.
                </p>
                <p>{{ order }}</p>
            {% endif %}

            <hr>
            <div class="center">
                <code>(c) <a href="https://oqtacore.com">Oqtacore</a> 2023</code>
            </div>
        </div>
    </body>
</html>