<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/styles.css">
        <script src="/assets/scripts.js"></script>
        <title>Order Page | Ordinals Minter</title>
    </head>
    <body>
        <div class="content">
            <h1><a href="/">Ordinals Minter 🌿</a></h1>
            Fast, convinient and secure way to use <a href="http://ordinals.com">Bitcoin Ordinals</a>
            <hr>

            <p>
                <b>
                    Your order is: {{ order_uuid }}
                </b>
            </p>

            {% if order.status == 'CHECKING_PAYMENT' %}
                <p>
                    We received your order and checking payment right now, soon we will start creating inscription. Reload this page in 2-5 minutes.
                </p>
                <div class="center">
                    <div class="lds-spinner" height="200px"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
                <p>{{ order }}</p>
            {% elif order.status == 'MINT_STARTED' %}
                <p>
                    We received your file and minting it right now. It might take from 5 minutes up to several hours as Bitcoin Network can be busy.
                </p>
                <p>
                    Your inscription will be ready when this Bitcoin Transaction will be mined: <a href="{{order.reveal_tx_url}}">mempool.space</a>
                </p>
                <p>
                    Your inscription will be available here: <a href="{{order.ordinals_url}}">ordinals.com</a>
                </p>
            {% elif order.status == 'MINT_ERROR' %}
                <p>
                    Sadly but there were an error while processing your order, please contact us and we will help you with refund or manual uploading.
                </p>
                <p>{{ order }}</p>
            {% endif %}

            <hr>
            <div class="center">
                <code>(c) <a href="https://oqtacore.com">Oqtacore</a> 2023</code>
            </div>
        </div>
    </body>
</html>